.footer {
  color: var(--gray-alpha-400);
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  gap: 2rem;
  line-height: 1.4;
  margin: 8rem auto 4rem;

  @media screen and (min-width: 960px) {
    flex-direction: row-reverse;
  }
}

.footer__sharing {
  flex: 1;

  @media screen and (min-width: 960px) {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}

.footer__info {
  flex: 1;
}

.footer__paragraph {
  margin-bottom: 1rem;
}

.footer__starOnGitHub {
  margin-top: 0.5rem;
}

.footer__logo {
  color: var(--gray-alpha-200);
  display: block;
  margin-bottom: 1rem;
  transition: color 0.2s ease-in-out;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: var(--gray-alpha-400);
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.footer__license {
  color: var(--gray-alpha-200);
  font-size: 0.8rem;
  margin-bottom: .5rem;
}