.footer {
  /* background-color: var(--gray-alpha-100); */
  color: var(--gray-alpha-500);
  font-size: 0.95rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;

  p {
    margin-bottom: 0.5rem;
  }
}
