.ringtoneSection {
  display: flex;
  flex-direction: column;
}

.ringtoneSection__code {
  font-size: 4.5rem;
  font-weight: var(--font-weight-light);
}

.ringtoneSection__title {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.ringtoneSection__bg {
  display: flex;
  margin-top: 3rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.ringtoneSection__rows {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ringtoneSection__row {
  flex: 1;
}

.ringtoneSection__rowTitle {
  margin-bottom: 1rem;
}

.color101 {
  .ringtoneSection__code {
    color: rgb(var(--color-101));
    text-shadow: 0 8px 0 rgba(var(--color-101), 0.2);
  }

  .ringtoneSection__bg {
    background-color: rgba(var(--color-101), 0.2);
    color: rgb(var(--color-101));
  }
}

[data-theme='dark'] .color101 {
  .ringtoneSection__bg {
    background-color: rgba(255, 255, 255, 0.025);
  }
}

.color102 {
  .ringtoneSection__code {
    color: rgb(var(--color-102));
    text-shadow: 0 8px 0 rgba(var(--color-102), 0.2);
  }

  .ringtoneSection__bg {
    background-color: rgba(var(--color-102), 0.2);
    color: rgb(var(--color-102));
  }
}

[data-theme='dark'] .color102 {
  .ringtoneSection__bg {
    background-color: rgba(255, 255, 255, 0.025);
  }
}

.color103 {
  .ringtoneSection__code {
    color: rgb(var(--color-103));
    text-shadow: 0 8px 0 rgba(var(--color-103), 0.2);
  }

  .ringtoneSection__bg {
    background-color: rgba(var(--color-103), 0.2);
    color: rgb(var(--color-103));
  }
}

[data-theme='dark'] .color103 {
  .ringtoneSection__bg {
    background-color: rgba(255, 255, 255, 0.025);
  }
}

.color104 {
  .ringtoneSection__code {
    color: rgb(var(--color-104));
    text-shadow: 0 8px 0 rgba(var(--color-104), 0.2);
  }

  .ringtoneSection__bg {
    background-color: rgba(var(--color-104), 0.2);
    color: rgb(var(--color-104));
  }
}

[data-theme='dark'] .color104 {
  .ringtoneSection__bg {
    background-color: rgba(255, 255, 255, 0.025);
  }
}

@media screen and (min-width: 960px) {
  .ringtoneSection__rows {
    flex-direction: row;
  }
}
