.title {
  color: var(--primary);
  font-size: 15vw;
  font-weight: var(--font-weight-light);
  letter-spacing: -0.05em;
  line-height: 1;
  text-transform: uppercase;
  word-spacing: 100vw;

  @media screen and (min-width: 500px) {
    font-size: 5rem;
  }
}

.small {
  font-size: 1.5rem;
}

.inheritColor {
  color: inherit;
}
