:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #082cff;
  --primary-rgb: 8, 44, 255;

  --font-weight-light: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --color-101: 8, 44, 255;
  --color-102: 135, 44, 234;
  --color-103: 160, 205, 7;
  --color-104: 217, 145, 62;
}

html {
  font-size: 14px;
}

:focus-visible {
  border-radius: 1px;
  outline: 2px solid var(--foreground);
  outline-offset: 0.2rem;
  transition: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background: #d6dcff;
  color: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 16px;
  }
}
