.page {
  min-height: 100svh;
  padding-top: 4rem;

  @media screen and (min-width: 960px) {
    padding-top: 8rem;
  }
}

.page__section {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.page__intro {
  margin-bottom: 2rem;
}

.page__paragraph {
  font-size: 1.25rem;
  line-height: 1.5;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.page__why {
  margin-top: 80px;
  max-width: 600px;

  @media screen and (min-width: 960px) {
    margin-top: 150px;
  }
}

.page__ringtones {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-top: 150px;
}

.page__referrals {
  margin-top: 6rem;
}
